<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}利易联Flask后端{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- 可以在此处添加其他 CSS 或字体链接 -->
</head>
<body>
<!-- 页面顶部导航栏 -->
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
{#        <li><a href="{{ url_for('about') }}">About</a></li>#}
{#        <li><a href="{{ url_for('contact') }}">Contact</a></li>#}
    </ul>
</nav>

<!-- 主内容区域 -->
<div class="container">
    {% block content %}
        <!-- 子模板会在这里插入内容 -->
    {% endblock %}
</div>

<!-- 页脚 -->
<footer>
    <p>&copy; 2024 Liyilian</p>
</footer>

</body>
</html>
